.btn {
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 18px 16px;
  font-size: var(--font-size-m);
  line-height: 1.25;
  border: 2px solid transparent;
  background-image: linear-gradient(var(--white), var(--grey-1));
  text-decoration: none;
  color: var(--primary);
  text-align: center;
  transition: var(--shadow-transition) !important;
  box-shadow: var(--tile-shadow);
  background-origin: border-box;
  user-select: none;

  &.active,
  &:focus {
    background-image: linear-gradient(var(--primary), rgba(74, 10, 18, 1));
    color: var(--off-white);
  }

  i {
    opacity: 0;
    transition: var(--hover-transition);
  }

  &:hover {
    box-shadow: var(--button-press-shadow);

    i {
      opacity: 1;
      margin-left: var(--spacing-small);
    }
  }

  &:focus,
  &:active {
    box-shadow: var(--button-press-shadow);
    border: 2px solid transparent;
    outline: 0 !important;
  }

  &.menu-btn {
    font-family: var(--font-cursive);
    vertical-align: text-bottom;
    box-shadow: none;
    background-image: linear-gradient(var(--white), var(--grey-1));
    border: 1px solid var(--grey-1);
    border-radius: 50%;

    & span {
      margin-top: 5px;
      height: 100%;
      width: 100%;
      font-size: 2.5em;
      display: flex;
      justify-content: center;
    }

    &:hover {
      box-shadow: var(--button-press-shadow);
    }

    &:focus,
    &:active {
      box-shadow: var(--button-press-shadow);
      outline: 0 !important;
      border: 1px solid transparent;
      color: var(--primary);
      background: var(--grey-1);
    }

    &.active {
      background-image: linear-gradient(var(--primary), rgba(74, 10, 18, 1));
      box-shadow: var(--tile-shadow);
      border: 1px solid transparent;
      cursor: default;

      &:focus,
      &:active {
        color: var(--off-white);
      }
    }
  }

  &:active {
    background-image: linear-gradient(var(--grey-2), rgba(65, 65, 65, 1));
  }
}

.btn-back:hover i {
  margin-right: var(--spacing-small);
}

.btn-forward:hover i {
  margin-left: var(--spacing-small);
}
