.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  scroll-behavior: auto;
}

::selection {
  background-color: var(--highlight);
  color: var(--white);
}

#call {
  
  &:focus, &:active {
    background-color: var(--secondary);
    outline: none !important;
  }
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset var(--spacing-small) 0 0 transparent, var(--nav-shadow);
  /* Link hover states */
  

  & a {
    transition: var(--hover-transition);
    border-left: var(--spacing-small) solid transparent;

    &.selected {
      background-color: var(--grey-4);
    }
  }

  & ul .nav-link:hover, & ul .nav-link:focus {
    border-left: var(--spacing-small) solid var(--secondary);
  }
}

@media (--breakpoint-medium) {
  .divider-grey {
    box-shadow: inset 0 -4px 0 transparent, var(--nav-shadow);
    /* Link hover states */
    & a {
      border-left: none;
      transition: var(--hover-transition);

    &.selected {
        border-left: none;
        background-color: var(--grey-4);
      } 
    }
  
    & ul .nav-link:hover, & ul .nav-link:focus {
      border-left: none;
      box-shadow: inset 0 -4px 0 var(--secondary); 
    }
  }
}

#menu-container {
  box-shadow: var(--menu-shadow);
}

@media (--breakpoint-medium) {
  #menu-container {
    box-shadow: none;
  }
}

.nav-small {
  width: 300px;
}

.size-trans {
  transition: var(--size-transition);
}

.visible {   visibility: visible; }
.hidden {    visibility: hidden; }
.no-select { user-select: none; }
.no-resize { resize: none; }

#page-container {
  position: relative;
  min-height: 100vh;
}

.logo {
  padding: 30px;
  margin: var(--spacing-small);
  background-color: var(--primary);
  color: var(--off-white);
  border-radius: 50%;
  transition: var(--shadow-transition) !important;
}

nav {
  height: var(--nav-height);
  transition: var(--size-transition) !important;

  & .logo {
    padding: 40px;
  }

  & ul .logo {
    padding: 60px;
  }

  &.small {
    height: var(--nav-height-small);

    & .nav-link {
      font-size: 0.9em;
    }

    & .background {
      opacity: 1;
    }

    & .logo {
      margin: 1px;
      padding: 30px;
      font-size: var(--spacing-large);
    }

    & ul .logo {
      margin: var(--spacing-extra-small);
      padding: 40px;
      font-size: var(--spacing-large);
    }
  }
}


/* Account for nav when using hash links */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);

  &[id]::before {
    display: block; 
    content: " "; 
    margin-top: calc(-1 * (var(--nav-height) + var(--spacing-large) + 20px));
    height: calc(var(--nav-height) + var(--spacing-large) + 20px);
    visibility: hidden; 
    pointer-events: none;
  }
}

.neg-margin {
  margin-top: calc(-0.75 * var(--neg-margin));
}

@media (--breakpoint-medium) {
  .neg-margin {
    margin-top: calc(-1 * var(--neg-margin));
  }
}

.section {
  padding: var(--spacing-extra-large) var(--spacing-medium);

  &.neg-margin-offset {
    padding: var(--spacing-large) var(--spacing-medium);
    padding-bottom: calc(0.75 * var(--neg-margin));
  }

  @media (--breakpoint-medium) {
    &.neg-margin-offset {
      padding: var(--spacing-large) var(--spacing-medium);
      padding-bottom: calc(var(--spacing-small) + var(--neg-margin));
    }
  }

  & + .section {
    /* border-top: 1px solid var(--off-white); */
  }
}

hr.fancy-line { 
  border: 0; 
  height: 3px;
  position: relative;
  margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
  top: -0.5em;
  height: 4em;
}
hr.fancy-line:after {
  content:'';
  height: 0.5em;   /* half the height of :before */
  top: 3px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}

hr.fancy-line.dark, hr.fancy-line.dark:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

hr.fancy-line.light, hr.fancy-line.light:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(255,255,255,0.1)), color-stop(75%,rgba(255,255,255,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 75%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 75%);
}

body, hr.fancy-line:after {
  background: #f4f4f4;
}
