.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  scroll-behavior: auto;
}

::selection {
  background-color: var(--highlight);
  color: var(--black);
}

#call {
  
  &:focus, &:active {
    background-color: var(--secondary);
    outline: none !important;
  }
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset var(--spacing-small) 0 0 var(--off-white), var(--nav-shadow);
  /* Link hover states */
  

  & a {
    transition: var(--hover-transition);
    border-left: var(--spacing-small) solid transparent;

    &.selected {
      background-color: var(--grey-4);
    }
  }

  & ul .nav-link:hover, & ul .nav-link:focus {
    border-left: var(--spacing-small) solid var(--secondary);
  }
}

@media (--breakpoint-medium) {
  .divider-grey {
    box-shadow: inset 0 -4px 0 var(--off-white), var(--nav-shadow);
    /* Link hover states */
    & a {
      border-left: none;
      transition: var(--hover-transition);

    &.selected {
        border-left: none;
        background-color: var(--grey-4);
      } 
    }
  
    & ul .nav-link:hover, & ul .nav-link:focus {
      border-left: none;
      box-shadow: inset 0 -4px 0 var(--secondary); 
    }
  }
}

#menu-container {
  box-shadow: var(--menu-shadow);
}

@media (--breakpoint-medium) {
  #menu-container {
    box-shadow: none;
  }
}

.nav-small {
  width: 300px;
}

.size-trans {
  transition: var(--size-transition);
}

.visible {   visibility: visible; }
.hidden {    visibility: hidden; }
.no-select { user-select: none; }
.no-resize { resize: none; }

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrapper {
  padding-top: var(--nav-height);
}

nav {
  height: var(--nav-height);

  #logo {
    transition: var(--shadow-transition);
    padding: 40px;
    margin: var(--spacing-small);
    background-color: var(--primary);
    border-radius: 50%;
  }

  ul #logo {
    padding: 60px;
  }

  &.small {
    height: var(--nav-height-small);

    #logo {
      margin: 1px;
      padding: 30px;
      font-size: var(--spacing-large);
    }

    ul #logo {
      margin: var(--spacing-extra-small);
      padding: 40px;
      font-size: var(--spacing-large);
    }
  }
}


/* Account for nav when using hash links */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);

  &[id]::before {
    display: block; 
    content: " "; 
    margin-top: calc(-1 * var(--nav-height)); 
    height: var(--nav-height); 
    visibility: hidden; 
    pointer-events: none;
  }
}

.neg-margin {
  margin-top: calc(-0.75 * var(--neg-margin));
}

@media (--breakpoint-medium) {
  .neg-margin {
    margin-top: calc(-1 * var(--neg-margin));
  }
}

.section {
  padding: var(--spacing-large) var(--spacing-medium);

  &.neg-margin-offset {
    padding: var(--spacing-large) var(--spacing-medium);
    padding-bottom: calc(0.75 * var(--neg-margin));
  }

  @media (--breakpoint-medium) {
    &.neg-margin-offset {
      padding: var(--spacing-large) var(--spacing-medium);
      padding-bottom: calc(var(--spacing-small) + var(--neg-margin));
    }
  }

  & + .section {
    /* border-top: 1px solid var(--off-white); */
  }
}

.flip-card {
  height: 100%;
  perspective: 1000px;
  cursor: default;

  & .link {
    pointer-events: none;
    touch-action: none;
  }
  

  &:hover, &:active, &:focus, &:focus-within {
    outline: 0!important;

    & .link {
      pointer-events: auto;
      touch-action: auto;
      cursor: pointer;
    }

    & .flip-card-inner {
      transform: rotateY(180deg);
    }

    & .flip-card-back, & .flip-card-front {
      backface-visibility: hidden;
    }

    & .flip-card-back .inner {
      overflow: auto;
    }
  }
}

.contact {
  flex-basis: 40%;
}

.flip-card-inner {
  height: 100%;
  position: relative;
  transition: transform 0.8s ease;
  transform: rotateX(0deg);
  transform-style: preserve-3d;
  -webkit-box-shadow: var(--flip-shadow);
  -moz-box-shadow: var(--flip-shadow);
  box-shadow: var(--flip-shadow);
  border-radius: var(--border-radius);
}

.flip-card-front {
  position: relative;
  transform: rotateY(0deg);
}

.flip-card-front, .flip-card-back {
  -moz-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);

  & .inner {
    overflow: hidden;
  }
}
