:root {
	/* Colors */
  --primary: rgba(96, 97, 59, 1); /* rgba(81, 74, 48, 1); */
  --secondary: rgba(50, 15, 19, 1);
	--highlight: var(--primary);
	--white: rgba(255, 255, 255, 1);
  --off-white: rgba(248, 242, 242, 1);
  --grey-1: rgba(226, 217, 208, 1);
	--grey-2: rgba(198, 179, 162, 1);
	--grey-3: rgba(194, 172, 147, 1);
	--grey-4: rgba(45, 45, 45, 1);
	--black: rgba(22, 18, 19, 1);

	/* Typography */
	--font-family: 'Cormorant', serif, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  --font-header: 'Cormorant SC', serif;
  --font-cursive: Italianno, cursive;
  --line-height: 1.5;

	--font-size: 20px;
	--font-size-m: 22px;
	--font-size-l: 24px;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--nav-height: 60px;
	--nav-height-small: 40px;

	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	--neg-margin: 7em;

	/* Miscelaneous */
	--border-radius: 10px;
	--border-radius-pill: 9999px;
	--hover-transition: all 150ms ease;
	--size-transition:
	  width 150ms ease,
	  height 150ms ease,
	  max-height 150ms ease,
    max-width 150ms ease;
    
  /* Shadow */

  --shadow-transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  --shadow-hover:
    0 1px 2px rgba(0,0,0,0.18),
    0 2px 4px rgba(0,0,0,0.18),
    0 4px 8px rgba(0,0,0,0.18),
    0 8px 16px rgba(0,0,0,0.18),
    0 16px 32px rgba(0,0,0,0.18);

  --tile-shadow:
    0 1px 2px rgba(0,0,0,0.12),
    0 2px 4px rgba(0,0,0,0.12),
    0 4px 8px rgba(0,0,0,0.12),
    0 8px 16px rgba(0,0,0,0.12),
	0 16px 32px rgba(0,0,0,0.12);
	
  --flip-shadow:
    0 1px 2px rgba(0,0,0,0.06),
    0 2px 4px rgba(0,0,0,0.06),
    0 4px 8px rgba(0,0,0,0.06),
    0 8px 16px rgba(0,0,0,0.06),
    0 16px 32px rgba(0,0,0,0.06);

  --nav-shadow:
    0 1px 1px rgba(0,0,0,0.06),
    0 2px 2px rgba(0,0,0,0.06),
    0 4px 4px rgba(0,0,0,0.06),
    0 8px 8px rgba(0,0,0,0.06);

  --menu-shadow:
    3px 0 20px rgba(0,0,0,0.19),
    3px 0 20px rgba(0,0,0,0.23);

  --header-shadow:
    0 4px 20px rgba(145,145,145,0.19),
    0 4px 20px rgba(145,145,145,0.23);

  --footer-shadow:
    0 -1px 2px rgba(95,95,95,0.1), 
    0 -2px 4px rgba(95,95,95,0.1), 
    0 -4px 8px rgba(95,95,95,0.1), 
    0 -8px 16px rgba(95,95,95,0.1),
    0 -16px 32px rgba(95,95,95,0.1);
					  
  --footer-shadow-light:
    0 -2px 20px rgba(145,145,145,0.19),
    0 -2px 20px rgba(145,145,145,0.23);

  --button-press-shadow:
    0 0 20px rgba(0,0,0,0.35),
    0 0 6px rgba(0,0,0,0.47);
}
