{{ define "main" }}

<!-- Menu -->
<div class="section bg-off-white">
  <div class="mw7 center pt4">

    {{ with .Params.menu }}

      <h2 id="menu" class="f1 tc lh-title mt4">{{ .heading }}</h2>

      <hr class="fancy-line dark" />
      <div class="pv2"></div>

      {{ partial "menu" . }}
    {{ end }}

  </div>
</div>

<!-- Wines -->
<div class="section bg-secondary off-white">
  <div class="mw7 center pt4">

    
    {{ with .Params.wines }}

      <h2 id="wines" class="f1 tc lh-title mt4">{{ .heading }}</h2>

      <hr class="fancy-line light" />
      <div class="pv2"></div>

      {{ partial "menu" . }}
    {{ end }}

  </div>
</div>

<div class="section bg-off-white">
  <div class="mw7 center">
    {{ partial "section-contact" .Params.contact }}
  </div>
</div>

{{ end }}
